{{<beta_layout}}
{{$content}}
<main id="content" role="main">
  <header class="page-header">
    <h1 class="heading-large">Visa application fees</h1>
  </header>
  <div class="form-group">
    <legend for="options" class="form-label">Select a visa category</legend>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Visit
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Work
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Join family
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Study
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Transit
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Crown dependencies
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Settlement
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Other
    </label>
  </div>
    <a name="submit" class="button" href="type">Next step</a>
  <h3 class="heading-medium">Previous Answers</h3>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="right-align">
        <a href="/" class="clear-storage">Start again</a>
      </p>
      <hr>
      <div class="grid-row">
        <div class="column-half">
          <p>
            Select the country you are making your application from
          </p>
        </div>
        <div class="column-quarter">
          <p>
            Australia
          </p>
        </div>
        <div class="column-quarter">
          <p class="right-align">
            <a href="#">Change</a>
          </p>
        </div>
      </div>
    </div>
    <div class="column-third">

    </div>
  </div>
</main>
{{/content}}
{{/beta_layout}}
