{{<beta_layout}}

{{$content}}

<main id="content" role="main">
  <header class="page-header">
    <h1 class="heading-large">Visa processing times</h1>
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <label for="options" class="form-label">Select the location you are making your application from</label>

          <select id="options" name="options" class="select-form-control " required="">
            <option value="">Select…</option>
            <option value="afghanistan">Afghanistan, Kabul</option>
            <option value="albania">Albania, Tirana</option>
            <option value="algeria">Algeria, Algiers</option>
            <option value="angola">Angola, Luanda</option>
            <option value="argentina">Argentina, Buenos Aires</option>
            <option value="armenia">Armenia, Yerevan</option>
             <option value="austria">Austria, Vienna</option>
            <option value="australia-adelaide">Australia, Adelaide</option>
            <option value="australia-brisbane">Australia, Brisbane</option>
            <option value="australia-canberra">Australia, Canberra</option>
            <option value="australia-melbourne">Australia, Melbourne</option>
            <option value="australia-perth">Australia, Perth</option>
            <option value="australia-sydney">Australia, Sydney</option>
            <option value="bahamas">Bahamas, Nassau</option>
            <option value="bahrain">Bahrain, Manama</option>
            <option value="bangladesh">Bangladesh, Dhaka</option>
            <option value="belgium">Belgium, Brussels</option>
            <option value="bermuda">Bermuda, Hamilton</option>
            <option value="bosnia-and-herzegovina">Bosnia and Herzegovina, Sarajevo</option>
            <option value="botswana">Botswana, Gaborone</option>
            <option value="brazil-brasilia">Brazil, Brasilia</option>
            <option value="brazil-rio">Brazil, Rio de Janeiro</option>
            <option value="brazil-sao">Brazil, Sao Paulo</option>
            <option value="brunei">Brunei, Begawan</option>
            <option value="bulgaria">Bulgaria, Sofia</option>
            <option value="cambodia">Cambodia, Phomh Penh</option>
            <option value="cameroon">Cameroon, Yaounde</option>
            <option value="canada-edmonton">Canada, Edmonton</option>
            <option value="canada-ottawa">Canada, Ottawa</option>
            <option value="canada-st-johns">Canada, St John's Newfoundland</option>
            <option value="canada-toronto">Canada, Toronto</option>
            <option value="canada-vancouver">Canada, Vancouver</option>
            <option value="cayman-islands">Cayman Islands, George Town</option>
            <option value="chile">Chile, Santiago</option>
            <option value="china-beijing">China, Beijing</option>
            <option value="china-chengdu">China, Chengdu</option>
            <option value="china-chongqing">China, Chongqing</option>
            <option value="china-fuzhou">China, Fuzhou</option>
            <option value="china-guangzhou">China, Guangzhou</option>
            <option value="china-hangzhou">China, Hangzhou</option>
            <option value="china-hong-kong">China, Hong Kong</option>
            <option value="china-jinan">China, Jinan</option>
            <option value="china-nanjing">China, Nanjing</option>
            <option value="china-shanghai">China, Shanghai</option>
            <option value="china-shenyang">China, Shenyang</option>
            <option value="china-shenzhen">China, Shenzhen</option>
            <option value="china-wuhan">China, Wuhan</option>
            <option value="colombia">Colombia, Bogota</option>
            <option value="croatia">Croatia, Zagreb</option>
            <option value="cuba">Cuba, Havana</option>
            <option value="cyprus">Cyprus, Nicosia</option>
            <option value="czech-republic">Czech Republic, Prague</option>
            <option value="denmark">Denmark, Copenhagen</option>
            <option value="dominican-republic">Dominican Republic, Santo Domingo</option>
            <option value="ecuador-guayaquil">Ecuador, Guayaquil</option>
            <option value="ecuador-quito">Ecuador, Quito</option>
            <option value="egypt-alexandria">Egypt, Alexandria</option>
            <option value="egypt-cairo">Egypt, Cairo</option>
            <option value="estonia">Estonia, Tallinn</option>
            <option value="ethiopia">Ethiopia, Addis Ababa</option>
            <option value="falkland-islands">Falkland Islands, Falkland Islands</option>
            <option value="fiji">Fiji, Suva</option>
            <option value="finland">Finland, Helsinki</option>
            <option value="france">France, Paris</option>
            <option value="georgia">Georgia, Tbilisi</option>
            <option value="germany-berlin">Germany, Berlin</option>
            <option value="germany-dusseldorf">Germany, Dusseldorf</option>
            <option value="germany-munich">Germany, Munich</option>
            <option value="ghana">Ghana, Accra</option>
            <option value="gibraltar">Gibraltar, GOG</option>
            <option value="greece">Greece, Athens</option>
            <option value="guyana">Guyana, Georgetown</option>
            <option value="hungary">Hungary, Budapest</option>
            <option value="iceland">Iceland, Reykjavik</option>
            <option value="india-ahmedabad">India, Ahmedabad</option>
            <option value="india-bangalore">India, Bangalore</option>
            <option value="india-chandigarh">India, Chandigarh</option>
            <option value="india-chennai">India, Chennai</option>
            <option value="india-cochin">India, Cochin</option>
            <option value="india-hyderabad">India, Hyderabad</option>
            <option value="india-jalandhar">India, Jalandhar</option>
            <option value="india-kolkata">India, Kolkata</option>
            <option value="india-mumbai">India, Mumbai</option>
            <option value="india-new-delhi">India, New Delhi</option>
            <option value="india-pune">India, Pune</option>
            <option value="indonesia-bali">Indonesia, Bali</option>
            <option value="indonesia-jakarta">Indonesia, Jakarta</option>
            <option value="iraq-baghdad">Iraq, Baghdad</option>
            <option value="iraq-basra">Iraq, Basra</option>
            <option value="iraq-erbil">Iraq, Erbil</option>
            <option value="israel-jerusalem">Israel, Jerusalem</option>
            <option value="israel-tel-aviv">Israel, Tel Aviv</option>
            <option value="italy">Italy, Rome</option>
            <option value="jamaica">Jamaica, Kingston</option>
            <option value="japan-osaka">Japan, Osaka</option>
            <option value="japan-tokyo">Japan, Tokyo</option>
            <option value="jordan">Jordan, Amman</option>
            <option value="kazakhstan-almaty">Kazakhstan, Almaty</option>
            <option value="kazakhstan-astana">Kazakhstan, Astana</option>
            <option value="kazakhstan, atyrau">Kazakhstan, Atyrau</option>
            <option value="kenya">Kenya, Nairobi</option>
            <option value="kosovo">Kosovo, Pristina</option>
            <option value="kuwait">Kuwait, Kuwait City</option>
            <option value="kyrgyzstan">Kyrgyzstan, Bishkek</option>
            <option value="latvia">Latvia, Riga</option>
            <option value="lebanon">Lebanon, Beirut</option>
            <option value="macedonia">Macedonia, Skopje</option>
            <option value="malawi">Malawi, Lilongwe</option>
            <option value="malaysia-kuala-lumpur">Malaysia, Kuala Lumpur</option>
            <option value="malaysia-sarawak">Malaysia, Sarawak</option>
            <option value="malta">Malta, Valletta</option>
            <option value="mauritius">Mauritius, Port Louis</option>
            <option value="mexico">Mexico, Mexico City</option>
            <option value="micronesia">Micronesia</option>
            <option value="moldova">Moldova, Chisinau</option>
            <option value="mongolia">Mongolia, Ulaan Baatar</option>
            <option value="montenegro">Montenegro, Podgorica</option>
            <option value="morocco">Morocco, Rabat</option>
            <option value="mozambique">Mozambique, Maputo</option>
            <option value="namibia">Namibia, Windhoek</option>
            <option value="nepal">Nepal, Kathmandu</option>
            <option value="netherlands">Netherlands, Amsterdam</option>
            <option value="new-zealand-auckland">New Zealand, Auckland</option>
            <option value="new-zealand-christchurch">New Zealand, Christchurch</option>
            <option value="new-zealand-wellington">New Zealand, Wellington</option>
            <option value="nigeria-abuja">Nigeria, Abuja</option>
            <option value="nigeria-lagos">Nigeria, Lagos</option>
            <option value="norway">Norway, Oslo</option>
            <option value="oman">Oman, Muscat</option>
            <option value="pakistan-islamabad">Pakistan, Islamabad</option>
            <option value="pakistan-karachi">Pakistan, Karachi</option>
            <option value="pakistan-lahore">Pakistan, Lahore</option>
            <option value="pakistan-mirpur">Pakistan, Mirpur</option>
            <option value="palestinian-occupied-territories-gaza">Palestinian Occupied Territories, Gaza</option>
            <option value="palestinian-occupied-territories-ramallah">Palestinian Occupied Territories, Ramallah</option>
            <option value="panama">Panama, Panama City</option>
            <option value="peru">Peru, Lima</option>
            <option value="philippines-cebu">Philippines, Cebu</option>
            <option value="philippines-manilla">Philippines, Manilla</option>
            <option value="poland">Poland, Warsaw</option>
            <option value="portugal">Portugal, Lisbon</option>
            <option value="qatar">Qatar, Doha</option>
            <option value="romania">Romania, Bucharest</option>
            <option value="russia-ekaterinburg">Russian Federation, Ekaterinburg</option>
            <option value="russia-moscow">Russian Federation, Moscow</option>
            <option value="russia-novosibirsk">Russian Federation, Novosibirsk</option>
            <option value="russia-rostov">Russian Federation, Rostov</option>
            <option value="russia-st-petersburg">Russian Federation, St Petersburg</option>
            <option value="rwanda">Rwanda, Kigali</option>
            <option value="saudi-arabia-al-khobar">Saudi Arabia, Al Khobar</option>
            <option value="saudi-arabia-jeddah">Saudi Arabia, Jeddah</option>
            <option value="saudi-arabia-riyadh">Saudi Arabia, Riyadh</option>
            <option value="senegal">Senegal, Dakar</option>
            <option value="serbia">Serbia, Belgrade</option>
            <option value="singapore">Singapore, Singapore</option>
            <option value="slovenia">Slovenia, Ljubljana</option>
            <option value="south-africa-cape-town">South Africa, Cape Town</option>
            <option value="south-africa-durban">South Africa, Durban</option>
            <option value="south-africa-joburg">South Africa, Johannesburg</option>
            <option value="south-africa-port-elizabeth">South Africa, Port Elizabeth</option>
            <option value="south-africa-pretoria">South Africa, Pretoria</option>
            <option value="spain">Spain, Madrid</option>
            <option value="sri-lanka">Sri Lanka, Colombo</option>
            <option value="st-lucia">St Lucia, Castries</option>
            <option value="sudan">Sudan, Khartoum</option>
            <option value="sweden">Sweden, Stockholm</option>
            <option value="switzerland-geneva">Switzerland, Geneva</option>
            <option value="switzerland-zurich">Switzerland, Zurich</option>
            <option value="taiwan">Taiwan (China), Taipei</option>
            <option value="tajikistan">Tajikistan, Dushanbe</option>
            <option value="tanzania-united-rep-of">Tanzania, United Rep. of, Dar es Salaam</option>
            <option value="thailand">Thailand, Bangkok</option>
            <option value="the-gambia">The Gambia, Banjul</option>
            <option value="trinidad-and-tobago">Trinidad and Tobago, Port of Spain</option>
            <option value="tunisia-tunis">Tunisia, Tunis</option>
            <option value="turkey-adana">Turkey, Adana</option>
            <option value="turkey-ankara">Turkey, Ankara</option>
            <option value="turkey-antalya">Turkey, Antalya</option>
            <option value="turkey-bursa">Turkey, Bursa</option>
            <option value="turkey-gaziantep">Turkey, Gaziantep</option>
            <option value="turkey-istanbul">Turkey, Istanbul</option>
            <option value="turkey-izmir">Turkey, Izmir</option>
            <option value="turkmenistan">Turkmenistan, Ashgabat</option>
            <option value="uganda">Uganda, Kampala</option>
            <option value="ukraine">Ukraine, Kyiv</option>
            <option value="usa">USA</option>
            <option value="uzbekistan">Uzbekistan, Tashkent</option>
            <option value="venezuela">Venezuela, Caracas</option>
            <option value="vietnam-hanoi">Vietnam, Hanoi</option>
            <option value="vietnam-hochiminh">Vietnam, HoChiMinh</option>
            <option value="zambia">Zambia, Lusaka</option>
            <option value="zimbabwe">Zimbabwe, Harare</option>
          </select>
        </div>
        <div class="alert-group">
          <a name="submit" class="button" href="category">Next step</a>            </div>

        </div>
      </div>
  </header>

</main>

{{/content}}
{{/beta_layout}}
