{{<beta_layout}}

{{$content}}

<main id="content" role="main">
  <header class="page-header">
    <h1 class="heading-large">Visa processing times</h1>
    <div class="row">
      <div class="col-md-6">

        <main id="content" role="main">

<div class="grid-row">
      <div class="column-two-thirds">
        <div class="text">
<p>Use this tool to estimate how long it will take to process your application for a visa to travel to the UK.</p>
<p>All applications are assessed individually and processing times vary on a case by case basis. This tool will show you processing times at your location based on data from (Month) (Year).</p>
</div>

<div class="panel-indent">
<p>This tool is for checking Visa Processing Times when making a Visa Application from outside the UK. If you are already in the UK and want to find out how long it takes to extend or switch to a different visa, check the guidance for your specific visa type.</p>
</div>
</div>

<div class="column-third">
<h2 class="bold-medium"></h2>
      <p>
      </p>
    </div>
  </div>



<p id="get-started" class="get-started group">

<a href="index" rel="external" class="button button-get-started" role="button">Start now</a></p>
 </section>




</main>

{{/content}}
{{/beta_layout}}
