{{<beta_layout_fees}}

{{$content}}

<main id="content" role="main">
  <header class="page-header">
    <h1 class="heading-large">Visa application fees</h1>
    <div class="row">
      <div class="col-md-6">

        <main id="content" role="main">

<div class="grid-row">
      <div class="column-two-thirds">
        <div class="text">
<p>If you’re applying for a visa to travel to the UK, this tool can tell you the cost of your application and how long it’s likely to take.</p>
<p>All applications are assessed individually and processing times vary on a case by case basis. The processing times shown are estimates only based on recent data from the application centre you will use for your
application.</p>
</div>

<div class="panel-indent">
<p>This tool is for checking Visa Fees when making a Visa Application from outside the UK. For making Visa Extensions and leave to remain applications when you are already in the UK, please use this tool.</p>
</div>
</div>

<div class="column-third">
<h2 class="bold-medium"></h2>
      <p>
      </p>
    </div>
  </div>



<p id="get-started" class="get-started group">

<a href="/index" rel="external" class="button button-get-started" role="button">Start now</a></p>
 </section>




</main>

{{/content}}
{{/beta_layout_fees}}
