{{<beta_layout_fees}}
{{$content}}
<main id="content" role="main">
<form name="fees">
  <header class="page-header">
    <h1 class="heading-large">Visa application fees</h1>
  </header>
  <div class="form-group">
    <legend for="options" class="form-label">Select a visa sub-type</legend>
    <label for="short" class="block-label">
      <input type="radio" id="short" name="subType" data-storage="Short-term (up to 6 months, single or multiple entry)" value="short">
      Short-term (up to 6 months, single or multiple entry)
    </label>
    <label for="longer" class="block-label">
      <input type="radio" id="longer" name="subType" data-storage="Longer-term (valid for up to 2 years)" value="yes">
      Longer-term (valid for up to 2 years)
    </label>
    <label for="longer-five" class="block-label">
      <input type="radio" id="longer-five" name="subType" data-storage="Longer-term (valid for up to 5 years)" value="yes">
      Longer-term (valid for up to 5 years)
    </label>
    <label for="longer-ten" class="block-label">
      <input type="radio" id="longer-ten" name="subType" data-storage="Longer-term (valid for up to 10 years)" value="yes">
      Longer-term (valid for up to 10 years)
    </label>
  </div>
</form>
    <a name="submit" class="button" href="result">Next step</a>
  <h3 class="heading-medium">Previous Answers</h3>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="right-align">
        <a href="/start" class="clear-storage">Start again</a>
      </p>
      <hr>
      <div class="grid-row">
        <div class="column-half">
          <p>
            Select the country you are making your application from
          </p>
        </div>
        <div class="column-quarter playback-container" name="fees">
          <p>
            <span class="playback-cell sentence-case" data-playback="nationality"></span>
          </p>
        </div>
        <div class="column-quarter">
          <p class="right-align">
            <a href="/index">Change</a>
          </p>
        </div>
      </div>
      <hr>
      <div class="grid-row">
        <div class="column-half">
          <p>
            Select your visa category
          </p>
        </div>
        <div class="column-quarter playback-container" name="fees">
          <p>
            <span class="playback-cell sentence-case" data-playback="category"></span>
          </p>
        </div>
        <div class="column-quarter">
          <p class="right-align">
            <a href="/category">Change</a>
          </p>
        </div>
      </div>
      <hr>
      <div class="grid-row">
        <div class="column-half">
          <p>
            Select your visa type
          </p>
        </div>
        <div class="column-quarter playback-container" name="fees">
          <p>
            <span class="playback-cell sentence-case" data-playback="visaType"></span>
          </p>
        </div>
        <div class="column-quarter">
          <p class="right-align">
            <a href="/type">Change</a>
          </p>
        </div>
      </div>
    </div>
    <div class="column-third">

    </div>
  </div>
</main>
{{/content}}
{{/beta_layout_fees}}
