{{<beta_layout_fees}}
{{$content}}
<main id="content" role="main">
  <header class="page-header">
    <h1 class="heading-large">Visa application fees</h1>
  </header>
  <div class="form-group">
    <legend for="options" class="form-label">Select a visa sub-type</legend>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Short-term (up to 6 months, single or multiple entry)
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Longer-term (valid for up to 2 years)
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Longer-term (valid for up to 5 years)
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Longer-term (valid for up to 10 years)
    </label>
  </div>
    <a name="submit" class="button" href="result">Next step</a>
  <h3 class="heading-medium">Previous Answers</h3>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="right-align">
        <a href="/start" class="clear-storage">Start again</a>
      </p>
      <hr>
      <div class="grid-row">
        <div class="column-half">
          <p>
            Select the country you are making your application from
          </p>
        </div>
        <div class="column-quarter">
          <p>
            Australia
          </p>
        </div>
        <div class="column-quarter">
          <p class="right-align">
            <a href="/index">Change</a>
          </p>
        </div>
      </div>
      <hr>
      <div class="grid-row">
        <div class="column-half">
          <p>
            Select your visa category
          </p>
        </div>
        <div class="column-quarter">
          <p>
            Visit
          </p>
        </div>
        <div class="column-quarter">
          <p class="right-align">
            <a href="/category">Change</a>
          </p>
        </div>
      </div>
      <hr>
      <div class="grid-row">
        <div class="column-half">
          <p>
            Select your visa type
          </p>
        </div>
        <div class="column-quarter">
          <p>
            General Visitors
          </p>
        </div>
        <div class="column-quarter">
          <p class="right-align">
            <a href="/type">Change</a>
          </p>
        </div>
      </div>
    </div>
    <div class="column-third">

    </div>
  </div>
</main>
{{/content}}
{{/beta_layout_fees}}
