{{<beta_layout}}
{{$content}}
<main id="content" role="main">
  <header class="page-header">
    <h1 class="heading-large">Visa application fees</h1>
  </header>
  <div class="form-group">
    <legend for="options" class="form-label">Select a visa type</legend>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      General visitors
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Business visitors
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Entertainer visitors
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Family visitors
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Special visitors - marriage or civil partnership
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Special visitors -private medical treatment
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Special visitors -Student visitors and prospective students
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Special visitors -parents of children at school
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Special visitors -child visitors
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Sports visitor
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Course F visitors
    </label>
    <label for="inUK-yes" class="block-label">
      <input type="radio" id="inUK-yes" name="isInUK" data-storage="yes" value="yes">
      Visitors in transit
    </label>
  </div>
    <a name="submit" class="button" href="sub-type">Next step</a>
  <h3 class="heading-medium">Previous Answers</h3>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="right-align">
        <a href="/" class="clear-storage">Start again</a>
      </p>
      <hr>
      <div class="grid-row">
        <div class="column-half">
          <p>
            Select the country you are making your application from
          </p>
        </div>
        <div class="column-quarter">
          <p>
            Australia
          </p>
        </div>
        <div class="column-quarter">
          <p class="right-align">
            <a href="#">Change</a>
          </p>
        </div>
      </div>
      <hr>
      <div class="grid-row">
        <div class="column-half">
          <p>
            Select your visa category
          </p>
        </div>
        <div class="column-quarter">
          <p>
            Visit
          </p>
        </div>
        <div class="column-quarter">
          <p class="right-align">
            <a href="#">Change</a>
          </p>
        </div>
      </div>
    </div>
    <div class="column-third">

    </div>
  </div>
</main>
{{/content}}
{{/beta_layout}}
